---
import Layout from '../layouts/Layout.astro';

---

<Layout>
	<div>
		<h1>Welcome to CreatiVista</h1>
		<p>Your creative journey starts here.</p>
		<p>Explore our features and unleash your creativity!</p>
		<p>Stay tuned for more updates.</p>
	</div>
</Layout>
