---
import { features } from "@/helpers";
import FeatureCard from "./FeatureCard.astro";
---

<section id='generators' class='py-20 px-6 max-w-7xl mx-auto space-y-8'>
  <h1
    class='text-4xl md:text-5xl space-y-2 w-fit font-extrabold text-foreground mx-auto text-center'
  >
    Powerful Code Generators
  </h1>

  <hr class='border-muted/30 block w-full max-w-md mx-auto mb-12 border-2 border-dashed' />

  <div class='grid grid-cols-responsive-lg gap-8'>
    {
      features.map((feature) => (
        <FeatureCard
          title={feature.title}
          description={feature.description}
          link={feature.link}
        >
          <Fragment set:html={feature.previewHtml} />
        </FeatureCard>
      ))
    }
  </div>
</section>
