---
import Step from '../ui/Step.astro';
---

<section class='py-16 px-6 max-w-7xl mx-auto space-y-8'>
  <h1
    class='text-4xl mx-auto space-y-2 w-fit font-extrabold text-foreground'
  >
    How CreatiVista Works
  </h1>

  <hr class='border-muted/30 block w-full max-w-sm mx-auto border-2 border-dashed' />

  <h2
    class='text-3xl md:text-4xl font-extrabold text-center text-foreground mb-12'
  >
   
  </h2>
  <div class='grid grid-cols-1 md:grid-cols-3 gap-8 text-center'>

    <Step
      icon='1'
      title='Select Your Tool'
      description='Choose from our growing suite of powerful code generators.'
      icon='1'
      class='bg-primary text-white'
    />
    <Step
      icon='2'
      title='Configure & Preview'
      description='Adjust parameters with real-time visual feedback.'
      icon='2'
      class='bg-secondary text-white'
    />
    <Step
      icon='3'
      title='Copy & Implement'
      description='Instantly copy clean, production-ready code for your projects.'
      icon='3'
      class='bg-accent text-foreground'
    />
  </div>
</section>
