---
import { cn } from '@/lib/utils'
type Props = {
  class?: string;
};
const { class: className }: Props = Astro.props;

---
<h1 class={cn("font-bangers tracking-wide text-primary-foreground font-extrabold text-3xl", className)}>
  <a class="" href="/">Creati<span class="bg-foreground px-1 border-special-1 text-accent ml-2">Vista</span></a>
</h1>
