---

---

<footer class="my-8">
  <div class='font-medium text-base text-muted py-6 px-4 text-center'>
    <p class='max-w-3xl mx-auto'>
      &copy; {new Date().getFullYear()} CreatiVista by <strong>VAKAKS</strong>. All rights reserved.
    </p>
  </div>
</footer>
