---
import "@fontsource/bangers";
// Supports weights 300-800
import "@fontsource-variable/open-sans";
import "@/styles/global.css";
import Header from "./Header.astro";
import { metaData } from "./meta";
import { ClientRouter, fade } from "astro:transitions";
import Footer from './Footer.astro';

type Props = {
  title?: string;
  description?: string;
  keywords?: string;
};

const { title = "CreatiVista", keywords, description }: Props = Astro.props;
---

<!doctype html>
<html lang='en'  transition:name='root' transition:animate='none'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='author' content='VAKAKS' />
    <meta name='publisher' content='VAKAKS' />
    <meta name='theme-color' content='#000000' />
    <meta name='application-name' content='CreatiVista' />
    <meta name='apple-mobile-web-app-capable' content='yes' />

    <meta name='description' content={description || metaData.description} />
    <meta name='og:description' content={description || metaData.description} />
    <meta name='keywords' content={keywords || metaData.keywords} />

    <meta name='robots' content='index, follow' />
    <meta name='revisit-after' content='30 days' />
    <meta name='rating' content='general' />
    <meta name='distribution' content='global' />
    <meta name='language' content='English' />
    <meta name='canonical' content='https://creativista.vakaks.com/' />
    <meta name='og:title' content='CreatiVista' />
    <meta name='og:type' content='website' />
    <meta name='og:url' content='https://creativista.vakaks.com' />
    <meta name='og:site_name' content='CreatiVista' />
    <meta name='generator' content={Astro.generator} />
    <ClientRouter />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main
      class='antialiased scroll-smooth relative z-10'
      transition:animate={fade({ duration: '0.5s' })}
    >
      <slot />
    </main>
    <Footer/>
  </body>
</html>

<style is:global>
  :root {
    --font-bangers: "Bangers", system-ui;
    --font-open-sans: "Open Sans Variable", sans-serif;
  }
  html,
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
    font-family: var(--font-open-sans);
    scroll-behavior: smooth;
  }

  body {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
  }
</style>
