---
import { cn } from '@/lib/utils';
import { slide } from 'astro:transitions';
import Title from './Title.astro';
type Props = {
  description?: string;
  class?: string;
};

const { description, class: className } = Astro.props;
---

<div class={cn("mb-6 sm:mb-14 space-y-4", className)} transition:animate={slide({ duration: 1 })}>
  <Title
      activeBackHome 
      hideBorder
      description={description}
    >
      <slot />
    </Title>
    <hr class="border-muted/50 border-2 border-dashed mx-2" />
</div>